.sections
    font-weight: 300
    width: 100%
    height: calc(100vh - 122px)
    color: #FFF
    display: flex
    align-items: center
    justify-content: center
    position: relative
    .types
        width: 30%
        height: 100%
    .main
        width: 70%
        height: 100%